@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Road+Rage&display=swap');
body {
	/* background-color: rgb(148, 147, 147); */
	background-color: #282c34;
	font-family: 'Road Rage', cursive;
}

td {
	width: 20vh;
	height: 20vh;
	text-align: center;
	font-size: 10rem;
}
table {
	margin: 5px auto;
	margin-top: 8vh;
	border-spacing: 0; /*this*/
}
.vert {
	border-left: 4px solid white;
	border-right: 4px solid white;
}
.hori {
	border-top: 4px solid white;
	border-bottom: 4px solid white;
}

td:hover {
	background-color: rgb(131, 148, 163);
}

.score {
	margin-top: 60px;
	text-align: center;
	font-size: 1.5rem;
	font-family: 'Orbitron', sans-serif;
}

span {
	font-weight: bold;
	color: blueviolet;
}

h1 {
	text-align: center;
	font-size: 6rem;
	margin: 0;
}

#p1 {
	margin-right: 45px;
}

p {
	display: inline-block;
}

td,
tr {
	padding: 0;
	margin: 0;
}

.title {
	background-image: linear-gradient(90deg, red, blue);
	background-clip: text;
	color: transparent;
}

.ToggleTheme {
	margin-left: 50%;
}
