@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Road+Rage&display=swap');
body {
	/* background-color: rgb(148, 147, 147); */
	background-color: #282c34;
	font-family: 'Road Rage', cursive;
}

span {
	font-weight: bold;
	color: blueviolet;
}

h1 {
	text-align: center;
	font-size: 6rem;
	margin: 0;
}

#p1 {
	margin-right: 45px;
}

p {
	display: inline-block;
}

.title {
	background-image: linear-gradient(90deg, red, blue);
	background-clip: text;
	color: transparent;
}
