@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Road+Rage&display=swap');

body {
	background-color: #282c34;
	font-family: 'Road Rage', cursive;
}
.fullscreen {
	position: absolute;
	top: 2%;
	right: 1%;
}
.toggle-theme {
	position: absolute;
	top: 2%;
	left: 1%;
}
span {
	font-weight: bold;
	color: blueviolet;
}

#p1 {
	margin-right: 45px;
}

p {
	display: inline-block;
}

.title {
	background-image: linear-gradient(90deg, red, blue);
	background-clip: text;
	color: transparent;
	text-align: center;
	font-size: 6rem;
	margin: 0;
}

button {
	width: 100px;
	height: 35px;
	font-weight: bold;
	background-color: #ff6384;
	border: none;
	border-radius: 10px;
	color: white;
	text-transform: uppercase;
	margin-bottom: 2%;
}
button:hover {
	background-color: #c74561;
	color: white;
}
.reset {
	text-align: center;
}
.score {
	text-align: center;
	font-size: 1.5rem;
	font-family: 'Orbitron', sans-serif;
}

.cell {
	text-align: center;
	font-size: 10vh;
	width: 5vw;
	height: 10vh;
	border: 3px solid #c74561;
	border-radius: 12px;
	color: wheat;
	margin: 10px;
}

.cell:hover{
	background-color: #42464e;
}

.board{
	display: flex;
	margin: 10% 10% 10% 22%;

	/*flex-direction: column;*/
}

