button {
	width: 70px;
	height: 35px;
	border: 3px solid rgb(42, 176, 194);
	color: wheat;
	border-radius: 7px;
	background-color: transparent;
	font-family: 'Road Rage', cursive;
	font-size: larger;
	font-weight: bold;
}

button:hover {
	border: 2.5px dotted rgb(9, 142, 194);
	background-color: rgb(42, 176, 194);
	color: #8a2be2;
}

.Reset {
	text-align: center;
}
